*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Gordita', sans-serif;
    background-color: var(--bodyBackground);
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button,
textarea,
input,
select {
    font-family: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
}

.icon {
    filter: var(--iconColor);
}